:root {
  --bg: #0c0b0a;
  --text: #fff;
  --text-dim: rgba(255, 255, 255, 0.7);
  --fill-accent: #e2762e;
  --border: rgba(255, 255, 255, 0.1);

  --sans: 'Space Grotesk', system-ui, sans-serif;
  --mono: 'IBM Plex Mono', ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background: var(--bg);
}

#root {
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-family: var(--sans);
  font-weight: 700;
  color: var(--text);
  margin: 0;
}

p {
  margin: 0;
}
